.containerHome {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.containerContacts {
  display: flex;
  justify-content: space-evenly;
}
.containerContactsFilter {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin-top: 14px;
}

.headingHome {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.descriptionHome {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.containerRegister,
.containerLogin {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 20px;
}

.titleRegister,
.titleLogin {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.formRegister,
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
