.containerMenu {
  text-align: center;
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userWelcomeMenu {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  margin-right: 10px;
}

.logoutButtonMenu {
  height: fit-content !important;
  padding: 5px !important;
  margin-top: 10px !important;
}
.spanMenu {
  font-weight: 700;
  text-decoration: underline;
}
